body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: rgb(247, 228, 200);
    box-sizing: border-box ;
}

h1{
    font-size: 400%;
    font-weight: bold;
}

label{
    font-size: 2em;
}
input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .controls{
    max-width: 50%;
    margin: auto;
 }
 .top{
   padding-top: 20px;
 }
 .middle-top{
    height: 75vh;
    
}
.imagery{
    height: 100%;
    background-image: url("../img/vivaldi.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 20%;
    
    
}
.bottom {
    border: solid;
    background-color: black;
    color: white;
    padding: 10px;

}

#home-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top: 3px;
    right: 10px;
}

@media (max-width: 1200px){
    .imagery{
        background-size: 25%;
    }

}
@media (max-width: 750px){
    .imagery{
        background-size: 40%;
    }
    label{
        font-size: 1.75em;
    }
    h1{
        font-size: 300%;
    }
    label{
        font-size: 1.5em;
    }
}

@media (max-width: 475px){
    .imagery{
        background-size: 50%;
    }
   

    @media (max-width: 436px){
        
    }
}
@media (min-width: 1050px){
    .imagery{
        height: 80%;
        background-position: 50% 30%;
    }
}




